/**
 * Stylesheet for about page
 *
 * @author 		Elias Meire <elias.meire@student.odisee.be>
 *
 */

/* =============================================
 * GENERAL
 =============================================== */

strong {
	font-weight: 800;
	font-size: 3.2rem;
	color: #7A7878;
}

/* =============================================
 * OVER ONS
 =============================================== */

/* ================ GENERAL ================= */ 

.wrapper > section:first-child .column {
	width: 50%;
}

/* ================ TEXT COLUMN ================= */

section:first-child .column + .column {
	padding: 0 6rem 0 3rem;
	margin-top: 5rem;
}

/* =============================================
 * TOECOURT IS EEN IDEE
 =============================================== */

 /* ================ GENERAL ================= */

section:nth-child(2) div {
	width: 50%;
}

section:nth-child(2) h2 {
	text-align: center;
	margin: 3rem 0;
}

section:nth-child(2) p + p {
	margin-top: 1.5rem;
}

/* ================ LEFT COLUMN ================= */

section:nth-child(2) div:nth-child(2) {
	padding-right: 1.5rem;
}

/* ================ RIGHT COLUMN ================= */

section:nth-child(2) div:nth-child(3) {
	padding-left: 1.5rem;
}

/* =============================================
 * LOREM IPSUM
 =============================================== */

/* ================ GENERAL ================= */

section:nth-child(3) {
	margin: 6rem 0 3rem 0;
	padding: 3rem 0;
	border-top: 0.2rem solid #D5D5D5;
	border-bottom: 0.2rem solid #D5D5D5;
}

/* ================ LEFT TITLE ================= */

section:nth-child(3) h2 {
	width: 15%;
	margin-top: 2rem;
	line-height: 3rem;
	font-weight: 800;
	font-size: 3rem;
}

/* ================ RIGHT TEXT ================= */

section:nth-child(3) p {
	width: 85%;
}