/**
 * Stylesheet for about page
 *
 * @author 		Elias Meire <elias.meire@student.odisee.be>
 *
 */

/* =============================================
 * GENERAL
 =============================================== */

strong {
	font-weight: 800;
	font-size: 3.2rem;
	color: #7A7878;
}

p {
	font-size: 1.3rem;
}

/* =============================================
 * OVER ONS
 =============================================== */

/* ================ GENERAL ================= */ 

.wrapper > section:first-child .column {
	float: none;
	width: 100%;
}

.wrapper > section:first-child .column + .column {
	margin-top: 1rem;
}

/* =============================================
 * TOECOURT IS EEN IDEE
 =============================================== */

 /* ================ GENERAL ================= */

section:nth-child(2) div {
	float: none;
	padding: 0 2rem;
}

section:nth-child(2) h2 {
	text-align: center;
	margin: 3rem 0;
}

section:nth-child(2) p + p, section:nth-child(2) .column + .column p:first-child {
	margin-top: 1.5rem;
}

/* =============================================
 * LOREM IPSUM
 =============================================== */

/* ================ GENERAL ================= */

section:nth-child(3) {
	margin: 6rem 0 3rem 0;
	padding: 3rem 0;
	border-top: 0.2rem solid #D5D5D5;
	border-bottom: 0.2rem solid #D5D5D5;
}

section:nth-child(3) .column {
	float: none;
}

/* ================ LEFT TITLE ================= */

section:nth-child(3) h2 {
	text-align: center;
	font-weight: 800;
	font-size: 3rem;
}

/* =============================================
 * MEDIA QUERIES
 =============================================== */


@media (min-width: 42em) {
	p {
		font-size: inherit;
	}

	section:nth-child(2) div {
		float: left;
		width: 50%;
		padding: 0;
	}

	section:nth-child(2) .column + .column p:first-child {
		margin-top: 0;
	}

	section:nth-child(2) div:nth-child(2) {
		padding-right: 1.5rem;
	}

	section:nth-child(2) div:nth-child(3) {
		padding-left: 1.5rem;
	}
}

@media (min-width: 50em) {
	.wrapper > section:first-child .column {
		float: left;
		width: 50%;
	}

	.wrapper > section:first-child .column + .column {
		padding: 0 6rem 0 3rem;
		margin-top: 5rem;
	}

	section:nth-child(3) .column {
		float: left;
	}

	section:nth-child(3) h2 {
		width: 15%;
		padding: 2rem 1rem 0 0;
		line-height: 3rem;
	}

	section:nth-child(3) p {
		width: 85%;
	}
}