/**
 * Stylesheet for contact page
 *
 * @author 		Elias Meire <elias.meire@student.odisee.be>
 *
 */

/* =============================================
 * FORM
 =============================================== */

/* ================ FORM COLUMN ================= */

.wrapper section div {
	float: none;
	width: 100%;
}

/* ================ TEXT COLUMN ================= */

section:first-of-type div:first-child {
	margin-bottom: 1rem;
}

section:first-of-type div:first-child p {
	float: left;
	padding-right: 1rem;
}

/* =============================================
 * MAP
 =============================================== */

a img {
	width: 100%;
	margin: 3rem 0;
}

/* =============================================
 * MEDIA QUERIES
 =============================================== */

@media (min-width: 45em) {
	.wrapper section div {
		float: left;
	}
	.wrapper section div:first-child {
		width: 25%;
		margin: 5rem 0 0 0;
	}

	.wrapper section div:nth-child(2) {
		width: 75%;
	}
	
	section:first-of-type div:first-child p {
		float: none;
		padding-right: 0;
	}
}