/**
 * Stylesheet for contact page
 *
 * @author 		Elias Meire <elias.meire@student.odisee.be>
 *
 */

/* =============================================
 * FORM
 =============================================== */

/* ================ GENERAL ================= */

section div.column {
	float: none;
	width: 100%;
}

/* ================ TEXT COLUMN ================= */

body > .wrapper > section:first-of-type div:first-child {
	margin-bottom: 1rem;
}

body > .wrapper > section:first-of-type div:first-child p {
	float: left;
	padding-right: 1rem;
}

/* =============================================
 * MAP
 =============================================== */

a img {
	width: 100%;
	margin: 3rem 0;
}

/* =============================================
 * MEDIA QUERIES
 =============================================== */

@media (min-width: 45em) {
	section div.column {
		float: left;
	}
	
	section div.column:first-child {
		width: 25%;
		margin: 5rem 0 0 0;
	}

	section div.column:nth-child(2) {
		width: 75%;
	}
	
	body > .wrapper > section:first-of-type div:first-child p {
		float: none;
		padding-right: 0;
	}
}