/**
 * Stylesheet for homepage
 *
 * @author 		Elias Meire <elias.meire@student.odisee.be>
 *
 */

/* =============================================
 * ELK IDEE EEN CONCEPT
 =============================================== */

/* ================ IMAGE COLUMN ================= */

.wrapper > section:first-child .column {
	width: 100%;
}

.wrapper > section:first-child {
	background-color: #000;
	background-clip: content-box;
	position: relative;
	padding: 0;
	border: 2rem solid #F3F3F3;
}

.wrapper > section:first-child img {
	opacity: 0.5;
}

.wrapper > section:first-child h2 {
	font-size: 2.2rem;
}

/* ================ TEXT COLUMN  ================= */

.wrapper > section:first-child .column + .column {
	left: 0;
	right: 0;
	margin: 7% auto;
	padding: 0 3.5rem;
	position: absolute;
	text-align: center;
}

.wrapper > section:first-child .column p {
	margin-bottom: 3rem;
	font-size: 1.3rem;
	color: #fff;
}

.wrapper > section:first-child .column a {
	padding: 0.7rem 3rem;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background-color: #9B4F92;
	border-radius: 0.6rem;
	transition: background-color 0.5s ease 0s;
}

.wrapper > section:first-child .column a:hover {
	background-color: #67C83D;
}

/* =============================================
 * FORM AND VOORDELEN
 =============================================== */

/* ================ GENERAL ================= */

body > header + .wrapper > * {
	margin-bottom: 3rem;
}

.wrapper > .column {
	width: 100%;
}

.wrapper > .column h2, .wrapper > .column h3 {
	margin: 0 0 1rem 2rem;
}


/* ================ FORM ================= */

form dd:first-of-type > input {
	margin-top: 2rem;
}

.wrapper > div:first-of-type div p:first-child {
	text-transform: uppercase;
	color: #67C83D;
}


/* ================ VOORDELEN ================= */

#benefits img {
	float: left;
	width: 30%;
}

#benefits section {
	margin-bottom: 1.5rem;
}

#benefits p {
	float: left;
	width: 70%;
	padding-left: 2rem;
}

/* =============================================
 * MEDIA QUERIES
 =============================================== */

@media (min-width: 31em) {
	.wrapper > section:first-child .column + .column {
		margin: 10% auto;
	}

	.wrapper > section:first-child .column p {
		margin-bottom: 5rem;
		font-size: 1.5rem;
	}

	.wrapper > div:first-of-type div p:first-child {
		font-size: 1.6rem;
	}
}

@media (min-width: 39.5em) {
	#benefits section {
		float: left;
		width: 50%;
	}

	#benefits img {
		width: 100%;
	}

	#benefits p {
		width: 100%;
		padding: 1rem 0 0 0;
	}

	#benefits section + section .contentblock {
		margin-left: 1rem;
	}

	#benefits section:first-of-type .contentblock {
		margin-right: 1rem;
	}

	.wrapper > section:first-child .column + .column {
		margin: 20% auto;
	}

	.wrapper > section:first-child .column p {
		padding: 0 4rem;
	}
}

@media (min-width: 50em) {
	#benefits section {
		float: none;
		width: auto;
	}

	#benefits img {
		width: 30%;
	}

	#benefits p {
		width: 70%;
		padding: 0 0 0 2rem;
	}

	#benefits section + section .contentblock {
		margin-left: 0;
	}

	#benefits section:first-of-type .contentblock {
		margin-right: 0;
	}

	.wrapper > section:first-child {
		background-color: #F3F3F3;
		background-clip: border-box;
		position: static;
	}

	.wrapper > section:first-child img {
		opacity: 1;
	}

	.wrapper > section:first-child .column + .column {
		left: auto;
		right: auto;
		text-align: left;
		position: static;
		padding: 0 6rem 0 3rem;
		margin: 5rem 0 0 0;
	}

	.wrapper > section:first-child .column {
		width: 50%;
	}

	.wrapper > section:first-child .column p {
		color: #000;
		margin-bottom: 5rem;
		padding: 0;
	}

	.wrapper > .column {
		width: 50%;
	}

	.wrapper > div:first-of-type {
		padding-right: 1.5rem;
	}

	.wrapper > .column + .column {
		padding-left: 1.5rem;
	}

	#benefits section {
		margin-bottom: 0;
		clear: both;
	}

	#benefits section:last-of-type {
		margin-top: 1.25rem;
	}
}