/**
 * Stylesheet for particulier page
 *
 * @author 		Elias Meire <elias.meire@student.odisee.be>
 *
 */

/* =============================================
 * LOREM IPSUM (1COLUMN)
 =============================================== */

.wrapper > section:first-child * {
	width: 100%;
}

.wrapper > section:first-child h2 {
	margin: 1rem 0;
}

.wrapper > section:first-child p {
	margin-bottom: 2rem;
}

/* =============================================
 * LOREM IPSUM DOLOR (3 COLUMN)
 =============================================== */

.wrapper > section:nth-child(2) div {
	width: 31.25%;
	margin: 3rem 0;
}

.wrapper > section:nth-child(2) div + div{
	margin-left: 3rem;
}