/**
 * Stylesheet for particulier page
 *
 * @author 		Elias Meire <elias.meire@student.odisee.be>
 *
 */

/* =============================================
 * LOREM IPSUM (1COLUMN)
 =============================================== */

.wrapper > section:first-child * {
	width: 100%;
}

.wrapper > section:first-child h2 {
	margin: 1rem 0;
}

.wrapper > section:first-child p {
	margin-bottom: 2rem;
}

/* =============================================
 * LOREM IPSUM DOLOR (3 COLUMN)
 =============================================== */

.wrapper > section:nth-child(2) {
	margin: 3rem 0;
}

.wrapper > section:nth-child(2) .column { 
	float: none;
}

.wrapper > section:nth-child(2) .column + .column{ 
	margin-top: 1.5rem;
}

.wrapper > section:nth-child(2) .contentblock {
	padding-bottom: 4rem;
	font-size: 1.4rem;
}

/* =============================================
 * MEDIA QUERIES
 =============================================== */

@media (min-width: 42em) {
	.wrapper > section:nth-child(2) .column {
		width: 33.33%;
		float: left;
	}

	.wrapper > section:nth-child(2) .column + .column{ 
		margin-top: 0;
	}

	.wrapper > section:nth-child(2) > div:first-of-type .contentblock {
		margin-right: 6%;
	}

	.wrapper > section:nth-child(2) > div:nth-of-type(2) .contentblock {
		margin: 0 3%;
	}

	.wrapper > section:nth-child(2) > div:nth-of-type(3) .contentblock {
		margin-left: 6%;
	}
}